@model IEnumerable<WebApplication7.Models.Address>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postal_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_update)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postal_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_update)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Address_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Address_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Address_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
