@model IEnumerable<WebApplication7.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_update)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_update)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Actor_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Actor_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Actor_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
